.container5{
    background: black;
    display: flex;
    flex-direction: column;
    
    

}
.one{
    color: white;
    width: 100%;
}
.two{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.cons5{
    width: 50%;
    margin-left: 300px;
    border-radius: 80%;
}